/* Button Styles */
.submit-button {
  background-color: #389dd8; /* Green background color */
  color: rgb(221, 210, 210); /* White text color */
  padding: 20px 60px; /* Padding to provide some space around the text */
  border: none; /* Remove border */
  border-radius: 5px; /* Add a slight border radius for a rounded look */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for background color change */
  font-size: 16px;
  font-weight: bold;
}

/* Hover effect */
.submit-button:hover {
  background-color: #2386ad; /* Darker green on hover */
}

/* Responsive Styling */
@media only screen and (max-width: 600px) {
  /* Adjust styles for smaller screens */
  .submit-button {
    padding: 8px 16px; /* Adjust padding for smaller screens */
    font-size: 14px; /* Decrease font size for smaller screens */
  }
}
