.button-dropdown{
    position: relative;
  display: inline-block;
  border: 2px solid #007bff; 
  border-radius: 8px;
  }
  
  .dropdown-button {
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    padding: 10px 16px;
    font-size: 16px;
    color: #333;
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
   
  }
  
  .dropdown-button:hover {
    background-color: #007bff;
  }