.shop-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
  }
  
  /* Add additional styles for responsiveness if needed */
  @media (max-width: 768px) {
    /* Styles for screens with a maximum width of 768px (adjust as needed) */
    .shop-page {
      padding: 20px; /* Add some padding for smaller screens */
    }
  }
  