.shop-form-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #87b2e4;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(1, 17, 31, 0.1);
}

.button-container {
  display: flex;
  justify-content: space-around;
  /* margin-top: 10px; */
}

.submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 0px;
  
}

/* .submit-button:hover {
  background-color: #4CAF50;
} */

/* .accept-button {
  background-color: #4CAF50;
  color: white;
}

.reject-button {
  background-color: #f44336;
  color: white;
} */

/* Responsive Styling */
@media only screen and (max-width: 600px) {
  .shop-form-page {
    padding: 10px;
  }

  .shop-form-page h1 {
    font-size: 24px;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .submit-button {
    width: 100%;
    margin-bottom: 10px;
  }
}
